.main__header {
  margin-bottom: 20px;
}

.header__header {
  display: inline-block;
  margin-left: 10px;
}

.header--addStudent {
  display: inline-block;  
  margin-left: 15px;
  border-radius: 15px;
  padding: 5px;
}

.header--addStudent:hover {
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .main {
    margin-top: 55px;
  }

  .main__header {
    width: 100%;
  }
}