.table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  border-collapse: collapse;
}

.table tr td {
  border-top: 1px solid rgb(211, 205, 205);
  padding: 10px 0;
  
}
.table__body {
  text-align: center;
}

.table__body:hover {
  cursor: pointer;
  background: #f0d5d5;
}

.table__body button {
  margin: 3px 0;
  min-width: 70px;
  border-radius: 15px;
}

.table__body button:hover {
  font-weight: bold;
}


.row__image-name img {
  display: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .row__image-name {
    display: flex;
    
    .row__image, 
    .row__name {
      padding: 0 5px;
    }

    img {
      display: inline;
    }
  }

  .table__body button {
    margin: 0 5px;
  }
}